<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="MyFirstSection">
			<section name="DemoValues" type="ConfigurationManagement.MyHandler, ConfigurationManagement" allowLocation="true" allowDefinition="Everywhere"/>
		</sectionGroup>
	</configSections>
	<MyFirstSection>
		<DemoValues>
			<Value>
				<Identifier>111</Identifier>
				<SettingValue>System.Data.SqlClient</SettingValue>
			</Value>
			<Value>
				<Identifier>112</Identifier>
				<SettingValue>System.Data.OleDb</SettingValue>
			</Value>
			<Value>
				<Identifier>113</Identifier>
				<SettingValue>System.Data.Odbc</SettingValue>
			</Value>
		</DemoValues>
	</MyFirstSection>
	<appSettings>
		<add key="Foo" value="Hello World!"/>
	</appSettings>
</configuration>